* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

.container {
  background: linear-gradient(140deg, #ffb703, #fb8500);
  height: 100vh;
}

main {
  padding: 1.5rem;
}

.search-box {
  width: 100%;
}

.search-bar {
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
}
